.footer {
  width: 100%;
  margin: 0 auto;
  background: #008080;
  color: white;
}

.footer-container {
  width: 90%;
  margin: 0 auto;
}

.footer__subTitle {
  font-size: 1rem;
  padding-block: 0.5rem;
  text-transform: uppercase;
}

.nav-footer-_list {
  padding: 0;
  display: flex;
  gap: 1rem;
}

.nav-footer-_list li {
  list-style: none;
}

.nav-footer-_list li a {
  text-decoration: none;
  color: white;
}
