.main {
  width: 90%;
  padding-top: 80px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.seccion-1 {
  padding-block: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.seccion-1-container {
  text-align: center;
}

.seccion-1__title,
.seccion-3__title,
.seccion-3__subTitle {
  text-transform: uppercase;
  font-weight: 700;
  width: 100%;
  text-align: center;
  padding-block: 0.75rem;
  font-size: 1.7rem;
}

.seccion-3__subTitle {
  font-size: 1rem;
  padding-block: 0.5rem;
  color: #008080;
}

.acerca-imagen img {
  max-width: 200px;
}

.acerca-de-title {
  text-transform: uppercase;
}

.seccion-2 img {
  width: 100%;
}

.seccion-3 {
  display: flex;
  flex-wrap: wrap;
}

.seccion-3-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  padding: 0.5rem;
  width: 90%;
}

.seccion-3-container img {
  width: 60%;
  border-radius: 5%;
}

.seccion-3__parrafo {
  text-align: justify;
}

/* ------------- Encabezado Contacto ------------- */

.form-header {
  text-align: center;
  border-radius: 3px;

  width: 90%;
  margin: 10px auto;
  padding: 20px;
}

.form-header h1 {
  font-size: 30px;
  margin-bottom: 20px;
  color: #008080;
  text-transform: uppercase;
}

/* ------------- Formulario ------------- */

.formulario {
  background-color: #f6f7f8;
  border: 1px solid #d6d9dc;
  border-radius: 3px;

  width: 70%;
  padding: 40px;
  margin: 20px auto;
}

/* ------------- Campos del Formulario ------------- */

.form-row {
  margin-bottom: 30px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
}

.form-row input[type="text"],
.form-row input[type="email"] {
  background-color: #bdbdbd;
  border: 0;
  border-radius: 6px;
  width: 100%;
  padding: 7px;
  font-size: 14px;
}

.form-row label {
  margin-bottom: 3px;
  text-align: initial;
}
.form-row textarea {
  /* font-family: "Helvetica", "Arial", sans-serif; */
  font-size: 14px;

  background-color: #bdbdbd;
  border: 0;
  border-radius: 6px;

  min-height: 200px;
  margin-bottom: 10px;
  padding: 7px;
  resize: none; /* delete el ampliar textarea*/

  width: 100%;
}

.form-row button {
  font-size: 16px;
  font-weight: bold;
  max-width: 60%;

  color: #ffffff;
  background-color: #008080;

  border: none;
  border-radius: 3px;

  padding: 10px 40px;
  cursor: pointer;
}

.form-row button:hover {
  background-color: #76aeed;
}

.form-row button:active {
  background-color: #407fc7;
}

@media (min-width: 768px) {
  .seccion-1 {
    flex-direction: row;
  }

  .seccion-3-container {
    width: 45%;
  }

  .form-header {
    padding: 50px;
  }

  .form-row {
    flex-direction: row;
    align-items: flex-start;
    margin-bottom: 20px;
  }
  .form-row input[type="text"],
  .form-row input[type="email"] {
    width: 250px;
    height: initial;
  }
  .form-row label {
    text-align: right;
    width: 120px;
    margin-top: 7px;
    padding-right: 20px;
  }
  .form-row textarea {
    width: 250px;
  }
  .form-row button {
    margin-left: 120px;
  }
}

@media (min-width: 1024px) {
  .seccion-3 {
    justify-content: center;
    gap: 1rem;
  }
  .seccion-3-container {
    width: 30%;
  }

  .form-row input[type="text"],
  .form-row input[type="email"],
  .form-row textarea {
    width: 450px;
  }
}
