@import "./header.css";
@import "./main.css";
@import "./footer.css";

* {
  box-sizing: border-box;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  /* background: rgba(0, 0, 0, 0.5); */
  color: #000;
  font-family: "Nunito Sans", sans-serif;
  font-size: 1rem;
  background-color: #fffde3;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: white;
}
